@model Cheese.Models.Kaas

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Kaas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Merk" class="control-label"></label>
                <input asp-for="Merk" class="form-control" />
                <span asp-validation-for="Merk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Melksoort" class="control-label"></label>
                <input asp-for="Melksoort" class="form-control" />
                <span asp-validation-for="Melksoort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vet" class="control-label"></label>
                <input asp-for="Vet" class="form-control" />
                <span asp-validation-for="Vet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Biologisch" /> @Html.DisplayNameFor(model => model.Biologisch)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Winkelwagen" /> @Html.DisplayNameFor(model => model.Winkelwagen)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Kaassoort" class="control-label"></label>
                <input asp-for="Kaassoort" class="form-control" />
                <span asp-validation-for="Kaassoort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Eetbarekorst" /> @Html.DisplayNameFor(model => model.Eetbarekorst)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Afkomst" class="control-label"></label>
                <input asp-for="Afkomst" class="form-control" />
                <span asp-validation-for="Afkomst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prijs" class="control-label"></label>
                <input asp-for="Prijs" class="form-control" />
                <span asp-validation-for="Prijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voorraad" class="control-label"></label>
                <input asp-for="Voorraad" class="form-control" />
                <span asp-validation-for="Voorraad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Afbeelding" class="control-label"></label>
                <input asp-for="Afbeelding" class="form-control" />
                <span asp-validation-for="Afbeelding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beschrijving" class="control-label"></label>
                <input asp-for="Beschrijving" class="form-control" />
                <span asp-validation-for="Beschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
