@model IEnumerable<Cheese.Models.Kaas> 
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
             
            <h3>Productnaam</h3>
             
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
             @foreach (var item in Model) { @if (item.Id == 1){
            <img src=@Html.DisplayFor(modelItem => item.Afbeelding) alt="..."> }
                }
                </div>
                <div class="media-body">
                <h4 class="media-heading"></h4>
                Beschrijving
              <br> <br> <br> <br> <br> <br> <br> <br>
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <br>  
                    <li> Prijs <a asp-area="" asp-controller="Home" asp-action="Winkelwagen"> <span class="glyphicon glyphicon-shopping-cart" style="font-size:20px"></span></a></li>
                    
                </ul>
            </div>
                <div class="clearfix"></div>
                               
               </div>
            </div>
        </div>
    </div>
</div>