@{
    ViewData["Title"] = "Afkomst kazen";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Holland</h3>
            
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://www.sg.uu.nl/sites/default/files/styles/inline/public/content/kaas24.jpg?itok=2soaHrLK" height="250" width="300"> 

                    </a>
                </div>
                <div class="media-body">
                <h4 class="media-heading"></h4>
                Nederland produceert jaarlijks 650 miljoen kilo kaas. Tweederde daarvan wordt geëxporteerd, waarmee Nederland de grootste kaasexporteur ter wereld is. Nederlanders eten jaarlijks gemiddeld 14,3 kilo kaas per persoon. Geen wonder dat Nederland wereldwijd bekend staat als het land van de kaaskoppen.
              <br> <br>De Nederlandse band met kaas gaat heel ver terug: archeologen hebben overblijfselen van benodigdheden voor kaasproductie gevonden die dateren uit ongeveer 200 jaar voor Christus. In de middeleeuwen had het maken en verhandelen van kaas een centrale plek ingenomen in het Nederlandse leven. Kaasmarkten bloeiden op; steden met weegrechten konden waaghuizen bouwen en genoten een speciale status. De Waag in Gouda is één van de mooiste waaghuizen van Nederland. Sinds die tijd heeft Nederland zich nog verder ontwikkeld als wereldwijd leider in de zuivelindustrie. 
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <br>  
                    <li><a asp-area="" asp-controller="Kaas" asp-action="Landpagina" asp-route-land="Nederland">Onze Nederlandse producten>></a></li>
                    
                </ul>
            </div>
                <div class="clearfix"></div>
                               
               </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Frankrijk</h3>
            
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="http://frankrijkinfoblog.nl/wp-content/uploads/2015/11/Soorten-Franse-kaas_def.jpg" height="250" width="300"> 

                    </a>
                </div>
                <div class="media-body">
                <h4 class="media-heading"></h4>Frankrijk en Franse kaas is een link die je vrijwel direct maakt. De kaas is dan ook een product wat sterk verbonden is met het land en een eeuwenoude traditie kent. In totaal zijn er meer dan 750 verschillende soorten Franse kaas te verkrijgen in Frankrijk. Ik ben gek op kaas op brood, als tussendoortje, snack in de avond met een wijntje, maar ook als nagerecht kun je mij heel blij maken met een heerlijke kaasplankje. Omdat ik graag zelf meer wilde weten over de vele soorten Franse kaas, ben ik op internet eens gaan zoeken naar informatie. 
                
              <br> <br>In Frankrijk wordt kaas het meest gegeten na de warme maaltijd, dit is dan ook het beroemde kaasplateau. Een goede kaasplank bestaat uit minimaal 3 soorten Franse kaas in de smaaksterkte mild tot pittig. Om alle smaken goed te kunnen proeven, luidt het advies om te beginnen met de milde kaas en de meest pittige tot het laatste bewaren. Als je begint met de meest pittige kaas dan zal deze smaak te erg gaan overheersen.
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">    <br>  
                    <li><a asp-area="" asp-controller="Kaas" asp-action="Landpagina" asp-route-land="Frankrijk">Onze Franse producten>></a></li>
                    
                </ul>
            </div>
                <div class="clearfix"></div>
                               
               </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Griekeland</h3>
            
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://gezond10.nl/wp-content/uploads/Feta-kaas-gezond-800x416.jpg" height="250" width="300"> 

                    </a>
                </div>
                <div class="media-body">
                <h4 class="media-heading"></h4>
                Introductie Griekse kazen In de afgelopen tien/vijftien jaar is er in Griekenland veel veranderd. Aan de ene kant is er de verdergaande schaalvergroting in zuivelland, waarbij steeds grotere hoeveelheden melk worden samengebracht in melkverwerkende fabrieken, aan de andere kant zijn er signalen, dat de Grieken zelf ook beseffen, dat het hard nodig is om de kleinschalige kaasproductie te koesteren.
                <br> <br>Nee, niet pamperen en uitsluitend omgeven met de zweem van nostalgie, maar veel meer: Kleinschalig gemaakte, authentieke kazen zijn de exponent/het resultaat van honderden jaren kaasmaken. Soms in de bergen, soms op de eilanden, ieder met hun speciale karakter en DNA. Het beschermen van deze eeuwenoude cultuur van kaasmaken heeft niets met nostalgie te maken maar alles met respect voor het verleden en met het bewustzijn, dat het rurale landschap enerzijds en ons smaakpalet anderzijds zeer is gediend met deze kleinschaligheid. Natuurlijk wel met benutting van moderne hulpmiddelen, maar niet op een massale, anonieme en smaakvervlakkende manier. Originele Griekse Feta, wat lekkere olijven erbij, wat amandelen en zuurdesembrood... hmmm!
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <br>  
                    <li><a asp-area="" asp-controller="Kaas" asp-action="Landpagina" asp-route-land="Griekenland">Onze Griekse producten>></a></li>
                    
                </ul>
            </div>
                <div class="clearfix"></div>
                               
               </div>
            </div>
        </div>
    </div>
</div>