



@{
    ViewData["Title"] = "Soorten kazen";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Harde Kaas</h3>
            
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://www.kaas.nl/wp-content/uploads/2016/03/Gryuere-1300x400.jpg" height="200" width="300"> 

                    </a>
                </div>
                <div class="media-body">
                <h4 class="media-heading"></h4>
Harde kaas heeft een stevige structuur en is daardoor niet smeerbaar. Deze kazen zijn wél geschikt om mee te koken, te raspen, te krullen of om een heerlijke blokje kaas te serveren. Sommige buitenlandse harde kazen, zoals de Italiaanse Parmezaan, heeft 2 jaar gerijpt en heeft daardoor een harde structuur. 
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <br>  
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Onze Harde Kaas>></a></li>
                    
                </ul>
            </div>
                <div class="clearfix"></div>
                               
               </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Geitenkaas</h3>
            
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://static.jan-magazine.nl/thumbnails/GenjArticleBundle/Article/fileUpload/detail/00/26/75/getest-geitenkaas-2675.jpg" height="200" width="250"> 

                    </a>
                </div>
                <div class="media-body">
                <h4 class="media-heading"></h4>
Geitenkaas is één van onze favoriete kazen en vandaag vertellen we je meer over de verschillende soorten. 
Logischerwijs wordt geitenkaas van geitenmelk gemaakt. Hierdoor heeft het duidelijk een andere smaak dan kaas gemaakt van koemelk die je herkent uit duizenden.
Een ander groot verschil met ‘gewone’ kaas is de snelheid van het rijpen. Geitenkaas wordt namelijk veel sneller oud dan koeienkaas, waardoor de kleinere kazen na vier weken rijpen al smaken naar oude kaas. 
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <br>  
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Onze Geitenkaas>></a></li>
                    
                </ul>
            </div>
                <div class="clearfix"></div>
                               
               </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Witte Kazen</h3>
            
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://www.kaas.nl/wp-content/uploads/2015/08/Brie-Neutre-60-E-100Kg-stuk-1084371-300x200.jpg" height="200" width="250"> 

                    </a>
                </div>
                <div class="media-body">
                <h4 class="media-heading"></h4>
                Witte kaas is een zogenaamde verse kaas. Dat betekent dat de kaas niet behoort te rijpen. De smaak is zacht zuur met een fris aroma, erg flauw en heeft een zeer hoog vochtgehalte. Het kan van mager tot vet zijn.
Donzige zachte witte korstkazen zijn er in vele soorten en merken. De meest bekende en meest gegeten in Nederland zijn Camembert en Brie. 
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <br>  
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Onze Geitenkaas>></a></li>
                    
                </ul>
            </div>
                <div class="clearfix"></div>
                               
               </div>
            </div>
        </div>
    </div>
</div>