<h2>Account Activeren</h2>
<h3>Verifieer E-Mail</h3>
<br>
<p>Kijk of je een e-mail van CheeseW/Ease hebt ontvangen en klik op de link om het aanmaken van je Kaas-account te voltooien.</p>
<br>
<button><a asp-area="" asp-controller="Login" asp-action="Login" style="font-size:20px">Naar de login</a></button>
