@model Cheese.Models.Klant



<h2>Registreren</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Voornaam" class="control-label"></label>
                <input asp-for="Voornaam" class="form-control" />
                <span asp-validation-for="Voornaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Achternaam" class="control-label"></label>
                <input asp-for="Achternaam" class="form-control" />
                <span asp-validation-for="Achternaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Geslacht" class="control-label"></label>
                <br>
                @{
                List<SelectListItem> listItems= new List<SelectListItem>();
                listItems.Add(new SelectListItem
                        {
                        Text = "Man",
                        Value = "Man"
                        });
                listItems.Add(new SelectListItem
                        {
                            Text = "Vrouw",
                            Value = "Vrouw",
                        
                        });
                listItems.Add(new SelectListItem
                        {
                            Text = "N.v.t",
                            Value = "N.v.t"
                        });
                }
                @Html.DropDownListFor(model => model.Geslacht, listItems, "--Selecteer--")
                
                <span asp-validation-for="Geslacht" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Geboortedatum" class="control-label"> </label>
                <input asp-for="Geboortedatum" class="form-control" />
                <span asp-validation-for="Geboortedatum" class="text-danger"></span>
                <p>(dd/mm/jjjj)</p>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wachtwoord" class="control-label"></label>
                <input asp-for="Wachtwoord" class="form-control" type="password"/>
                <span asp-validation-for="Wachtwoord" class="text-danger" type="password"></span>
            </div>
            <div class="form-group">
                <label asp-for="confirmWachtwoord" class="control-label">Herhaal Wachtwoord</label>
                <input asp-for="confirmWachtwoord" class="form-control" type="password"/>
                <span asp-validation-for="confirmWachtwoord" class="text-danger" type="password"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telnummer" class="control-label">Mobiel nummer</label>
                <input asp-for="Telnummer" class="form-control" />
                <span asp-validation-for="Telnummer" class="text-danger"></span>
            </div>
            <div class="form-group"> 
                <label asp-for="Straatnaam" class="control-label"></label> 
                <input asp-for="Straatnaam" class="form-control" /> 
                <span asp-validation-for="Straatnaam" class="text-danger"></span> 
            </div> 
            <div class="form-group"> 
                <label asp-for="Huisnummer" class="control-label"></label> 
                <input asp-for="Huisnummer" class="form-control" /> 
                <span asp-validation-for="Huisnummer" class="text-danger"></span> 
            </div> 
            <div class="form-group"> 
                <label asp-for="Postcode" class="control-label"></label> 
                <input asp-for="Postcode" class="form-control" /> 
                <span asp-validation-for="Postcode" class="text-danger"></span> 
            <div class="form-group">
                <input type="submit" value="Maak account aan" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
