@{
    ViewData["Title"] = "Lekker bij de kaas";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Wijnen</h3>
            
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://www.emte.nl/upload/95af455f-12bb-482c-a623-f2a0b0e24667_islagrande_240x240.jpg" height="250" width="300"> 

                    </a>
                </div>
                <div class="media-body">
                <h4 class="media-heading"></h4>
                Wijn bij de kaas is natuurlijk een onovertroffen combinatie. Van Port tot Prosecco, de verschillende combinaties leiden tot eindeloze mogelijkheden.
              <br> <br>Wij hebben een ruim assortiment wijnen, die speciaal geselecteerd zijn door onze experts. Wijn en kaas zijn een "match made in heaven", maar zowel kaas als wijn zijn er in vele smaken/ variaties. Welke wijn gaat dan het best samen met welke kaas? Wij bieden een overzicht van verschillende type wijnen. Bij elk type kunt u bijpassende kazen vinden.
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <br><br><br><br>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Ons assortiment wijnen>></a></li>
                    
                </ul>
            </div>
                <div class="clearfix"></div>
                               
               </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Noten</h3>
            
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://i.imgur.com/b6gQe51.jpg" height="250" width="300"> 

                    </a>
                </div>
                <div class="media-body">
                <h4 class="media-heading"></h4>Wij kunnen met trots zeggen dat de verkoop van versgebrande noten een pre voor onze winkel is. Cheese with Ease onderscheidt zich van andere aanbieders doordat wij iedere dag noten vers branden. 
                
              <br> <br>Vers branden resulteert in heerlijke knapperige noten zoals cashews, macadamia’s, pinda’s, walnoten, pecannoten, hazelnoten en diverse mixen.
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">    <br><br><br><br><br>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Ons assortiment noten>></a></li>
                    
                </ul>
            </div>
                <div class="clearfix"></div>
                               
               </div>
            </div>
        </div>
    </div>
</div>