



@{
    ViewData["Title"] = "Soorten kazen";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Jonge Kaas</h3>
            
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="http://www.kaasservicelimburg.nl/producten/kPbdtGx8-thickbox.jpg" height="200" width="250"> 

                    </a>
                </div>
                <div class="media-body">
                <h4 class="media-heading"></h4>
Jonge kaas is een kaas die slechts vier weken de tijd heeft gekregen om te rijpen. Dit korte rijpingsproces zorgt ervoor dat jonge kaas erg smeuïg is en een zachte en romige smaak heeft. Deze milde smaak maakt de kaas erg geschikt voor mensen die niet van een uitgesproken smaak houden. Bovendien smaakt jonge kaas door de korte rijpingstijd ook minder zout dan andere varianten. Als u van een zachte, milde en romige kaas houdt, is jonge kaas de juiste keus. 
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <br>  
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Onze Jonge Kaas>></a></li>
                    
                </ul>
            </div>
                <div class="clearfix"></div>
                               
               </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Harde Kaas</h3>
            
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="http://www.kaashandel-debrink.nl/wp-content/uploads/2015/11/Beaufort-Alpage-400x400.jpg" height="200" width="250"> 

                    </a>
                </div>
                <div class="media-body">
                <h4 class="media-heading"></h4>
Harde kaas heeft een stevige structuur en is daardoor niet smeerbaar. Deze kazen zijn wél geschikt om mee te koken, te raspen, te krullen of om een heerlijke blokje kaas te serveren. Sommige buitenlandse harde kazen, zoals de Italiaanse Parmezaan, heeft 2 jaar gerijpt en heeft daardoor een harde structuur. 
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <br>  
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Onze Harde Kaas>></a></li>
                    
                </ul>
            </div>
                <div class="clearfix"></div>
                               
               </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Geitenkaas</h3>
            
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://static.jan-magazine.nl/thumbnails/GenjArticleBundle/Article/fileUpload/detail/00/26/75/getest-geitenkaas-2675.jpg" height="200" width="250"> 

                    </a>
                </div>
                <div class="media-body">
                <h4 class="media-heading"></h4>
Geitenkaas is één van onze favoriete kazen en vandaag vertellen we je meer over de verschillende soorten. 
Logischerwijs wordt geitenkaas van geitenmelk gemaakt. Hierdoor heeft het duidelijk een andere smaak dan kaas gemaakt van koemelk die je herkent uit duizenden.
Een ander groot verschil met ‘gewone’ kaas is de snelheid van het rijpen. Geitenkaas wordt namelijk veel sneller oud dan koeienkaas, waardoor de kleinere kazen na vier weken rijpen al smaken naar oude kaas. 
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <br>  
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Onze Geitenkaas>></a></li>
                    
                </ul>
            </div>
                <div class="clearfix"></div>
                               
               </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Witte Kazen</h3>
            
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://www.kaas.nl/wp-content/uploads/2015/08/Brie-Neutre-60-E-100Kg-stuk-1084371-300x200.jpg" height="200" width="250"> 

                    </a>
                </div>
                <div class="media-body">
                <h4 class="media-heading"></h4>
                Witte kaas is een zogenaamde verse kaas. Dat betekent dat de kaas niet behoort te rijpen. De smaak is zacht zuur met een fris aroma, erg flauw en heeft een zeer hoog vochtgehalte. Het kan van mager tot vet zijn.
Donzige zachte witte korstkazen zijn er in vele soorten en merken. De meest bekende en meest gegeten in Nederland zijn Camembert en Brie. 
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <br>  
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Onze Geitenkaas>></a></li>
                    
                </ul>
            </div>
                <div class="clearfix"></div>
                               
               </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Schimmelkaas</h3>
            
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://www.mmv.nl/sites/mmv.nl/files/schimmelkaas.png" height="200" width="250"> 

                    </a>
                </div>
                <div class="media-body">
                <h4 class="media-heading"></h4>
                Schimmelkaas is in verschillende smaken verkrijgbaar. De schimmel beïnvloedt de geur, smaak en structuur van de kaas. Daarnaast geldt, hoe langer de rijping, hoe intensiever de smaak wordt. In onze online kaasshop ontbreken natuurlijk de diverse soorten schimmelkazen niet. 
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <br>  
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Onze Schimmelkaas>></a></li>
                    
                </ul>
            </div>
                <div class="clearfix"></div>
                               
               </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Oude kaas</h3>
            
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://www.petrasbroodbus.nl/wp-content/uploads/2016/12/oude-kaas.jpg" height="200" width="250"> 

                    </a>
                </div>
                <div class="media-body">
                <h4 class="media-heading"></h4>
                De maandenlange rijping, minstens 10 maanden, zorgt voor de volle, robuuste smaak van oude kaas. De heerlijke zoutkristallen geven de kaas een extra randje. Deze kaas smaakt lekker bij een goed glas wijn en ook gasten zullen je dankbaar zijn als je ze tijdens een feestje trakteert op een blokje oude kaas. 
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <br>  
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Onze Oude Kaas>></a></li>
                    
                </ul>
            </div>
                <div class="clearfix"></div>
                               
               </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Zachte kaas</h3>
            
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="http://movieboozer.com/wp-content/uploads/2014/01/brie-cheese-300x234.jpg" height="200" width="250"> 

                    </a>
                </div>
                <div class="media-body">
                <h4 class="media-heading"></h4>
                Zachte kaas heeft zoals de naam al aangeeft een zachte structuur. Deze kazen zijn niet of kort gerijpt en hebben een subtiele zachte smaak. Handig aan deze kazen is dat ze smeerbaar zijn en daardoor op veel verschillende manieren te gebruiken. 
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <br>  
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Onze Zachte Kaas>></a></li>
                    
                </ul>
            </div>
                <div class="clearfix"></div>
                               
               </div>
            </div>
        </div>
    </div>
</div>