.foto {
    position: relative;
  top:0;
  left:45%;
  height: 100px;
  width:10%;
  margin-top:35px;
  margin-bottom:35px;
  z-index:3;
 

}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333
}

li {
    float: left;
}


li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 47.25px;
    text-decoration: none;
    
   
}

li a:hover:not(active){
    background-color: lightyellow;
}

.active{
    background-color: lightgray;
  
}