@model IEnumerable<Cheese.Models.Kaas> 
<h1>-25% Korting</h1> 
<div class="container"> 
  <div class="row"> 
      <!-- BEGIN PRODUCTS --> 
      @foreach (var item in Model) { 
      <div class="col-md-3 col-sm-6"> 
        <span class="thumbnail"> 
            
            <a asp-action="Product" asp-route-id="@item.Id">
            <img src= @Html.DisplayFor(modelItem => item.Afbeelding) alt="...">
            <h4> @Html.DisplayFor(modelItem => item.Naam)</h4>
            </a> 
             
           
            <div class="ratings"> 
                    <span class="glyphicon glyphicon-star"></span> 
                    <span class="glyphicon glyphicon-star"></span> 
                    <span class="glyphicon glyphicon-star"></span> 
                    <span class="glyphicon glyphicon-star"></span> 
                    <span class="glyphicon glyphicon-star-empty"></span> 
                </div> 
            <p></p> 
            <hr class="line"> 
            <div class="row"> 
              <div class="col-md-6 col-sm-6"> 
                 
                <p class="price">@Html.DisplayFor(modelItem => item.Prijs)</p>
              </div> 
              <div class="col-md-6 col-sm-6"> 
                <button class="btn btn-success right" >Winkelwagen</button> 
              </div> 
               
            </div> 
        </span> 
      </div> 
      }
  </div>
</div>
